.redux {
  background: #e0ffff;
  padding: 16px;
}

.register {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerItems {
  background: #c4c4c4;
  width: 80%;
  height: 53px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px;
}
.registerBtn {
  position: absolute;
  width: 80%;
  height: 53px;
  background: #1ab65c;
  color: #e0ffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 26.5px;
}

.credentials {
  height: "20px";
  width: "100%";
  color: red;
}

.welcome {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #282828;
  text-align: left;
  // margin-left: 20px;
  margin-top: 20px;

  &Header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    // line-height: 20px;
    letter-spacing: 0.26px;
    color: #575757;
    padding: 2px 8px 8px;
  }
}
