.redux {
  background: #e0ffff;
  padding: 16px;
}

.Container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.credentials {
  height: "20px";
  width: "100%";
  color: red;
}

.welcome {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.16px;
  color: #282828;
  text-align: left;
  // margin-left: 20px;
  margin-top: 20px;

  &Header {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    // line-height: 20px;
    letter-spacing: 0.26px;
    color: #575757;
    padding: 2px 8px 8px;
  }
}

// styling
// .sub_header {
//   margin-bottom: 40px;
//   margin-top: 20px;
// }

// .dashboard_header {
//   display: flex;
//   justify-content: space-between;
//   margin-bottom: 20px;
//   margin-top: 20px;
//   background: #ffffff;
//   padding: 20px;
// }

// .pocket_money {
//   background: #f1f4f7;
//   border-radius: 4px;
//   padding: 16px 16px 12px;
// }

// .completedStatus {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 14px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.32px;
//   color: #1fc24e;
//   background: #eff9eb;
//   border-radius: 4px;
//   padding: 5px 11px;
//   width: 55px;
//   margin-top: 20px;
//   margin-bottom: 5px;
// }

// .completedStatus_header {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 18px;
//   letter-spacing: 0.32px;
//   color: #282828;
//   margin-bottom: 10px;
// }

// .completedStatusBar {
//   width: 100%;
//   height: 5px;
//   background: #12877f;
// }

// .header_pocket_money {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   margin: 0px;
//   line-height: 12px;
//   letter-spacing: 0.32px;
//   text-transform: uppercase;
//   color: #6e6e6e;
//   margin-bottom: 10px;
// }

// .activities {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 20px;
//   letter-spacing: 0.16px;
//   color: #282828;
//   margin-top: 20px;
// }

// .activities_tabs {
//   display: flex;
//   justify-content: center;
//   gap: 15px;
//   margin-top: 20px;
// }

// .activities_active_tabs {
//   background: #ed1164;
//   padding: 4px 12px 6px;
//   border: 1px solid #f14687;
//   border-radius: 17px;
//   color: #ffffff;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   letter-spacing: 0.24px;
// }

// .activities_deactive_tabs {
//   background: #ffffff;
//   padding: 4px 12px 6px;
//   border: 1px solid #e2e2e2;
//   border-radius: 17px;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   letter-spacing: 0.24px;
//   color: #404040;
// }

// .activities_tabs_list {
//   display: flex;
//   justify-content: space-between;
//   border: 1px solid red;
//   padding: 13px;
//   border: 1px solid #e2e2e2;
//   border-radius: 10px;
//   margin-bottom: 15px;
//   margin-top: 7px;
// }

// .activities_tabs_list_price {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 12px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   color: #ed1164;
// }

// .dashboard_adds {
//   display: flex;
//   justify-content: space-between;
//   background: #f9f6eb;
//   border-radius: 4px;
//   height: 120px;
//   align-items: center;
// }

// .dashboard_goal {
//   background: #ffffff;
//   border: 1px solid #e2e2e2;
//   border-radius: 8px;
//   padding: 15px;
//   margin-top: 25px;
// }

// .achieved {
//   background: #12877f;
//   border-radius: 4px;
//   padding: 11px 12px 11px 12px;
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 10px;
//   align-items: center;
//   letter-spacing: 0.32px;
//   text-transform: uppercase;
//   color: #ffffff;
// }

// .achieved_pendding {
//   background: #e3f5f8;
//   border-radius: 4px;
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 10px;
//   /* identical to box height, or 83% */
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.32px;
//   text-transform: uppercase;
//   padding: 11px 12px 11px 12px;
//   /* Light/Icon/Tertiary-action ($sz-colour-icon-action-tertiary) */

//   color: #12877f;
// }

// .learn_play {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 20px;
// }

// .learn_play_all_view {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 12px;
//   line-height: 12px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   color: #ed1164;
// }

// .learn_play_cards {
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   padding: 12px;
//   gap: 12px;
// }

// .learn_play_cards_active {
//   background: #ebf9f8;
//   border-radius: 8px;
//   padding: 12px;
// }

// .MyDEMAT {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 11px;
//   line-height: 15px;
//   width: 80px;
//   /* identical to box height, or 136% */

//   display: flex;
//   align-items: center;
//   letter-spacing: 0.32px;

//   /* Typography/Primary ($sz-colour-typo-primary) */

//   color: #282828;
// }

// .learn_play_text {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 20px;
//   /* identical to box height, or 125% */

//   letter-spacing: 0.16px;

//   /* Primary / black-100 */

//   color: #282828;
// }

// .dashboard_adds_header {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 18px;
//   letter-spacing: 0.32px;
//   color: #165964;
//   padding: 10px;
// }

// .goal_achieved {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 12px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.32px;
//   text-transform: uppercase;
//   color: #ed1164;
// }

// .goal_achieved_price {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 20px;
//   margin-bottom: 8px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.26px;
//   color: #404040;
// }

// .goal_achieved_text {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 600;
//   font-size: 12px;
//   line-height: 10px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.32px;
//   text-transform: uppercase;
//   color: #404040;
//   margin-bottom: 8px;
// }

// .sub_header_pocket_money {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 18px;
//   display: flex;
//   align-items: center;
//   letter-spacing: 0.26px;
//   color: #282828;
//   margin: 0px;
// }

// .welcome_aboard {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 24px;
//   letter-spacing: 0.16px;
//   color: #282828;
//   text-align: left;
//   margin-left: 20px;
//   margin-top: 20px;
// }

// .welcome_aboard_sub_header {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 20px;
//   letter-spacing: 0.26px;
//   color: #575757;
//   padding: 2px 8px 8px;
// }

// .tabs {
//   display: flex;
//   justify-content: space-around;
//   gap: 10px;
// }

// .active_tab {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.24px;
//   color: #ed1164;
//   width: 45% !important;
//   padding: 6px;
// }

// .deactive_tab {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.24px;
//   color: #9d9d9d;
//   width: 45% !important;
//   padding: 6px;
// }

// .active_tab_underline {
//   height: 2px;
//   background: #ed1164;
//   border-radius: 2px;
//   margin-top: 5px;
// }

// .deactive_tab_underline {
//   height: 2px;
//   background-color: #9d9d9d;
//   margin-top: 5px;
// }

// .input_text {
//   background: #ffffff;
//   width: 300px;
//   padding: 8px;
//   border: 1px solid #e2e2e2;
//   border-radius: 4px;
// }

// .input_add_goal {
//   background: #ffffff;
//   width: 300px;
//   padding: 13px;
//   border: 1px solid #e2e2e2;
//   border-radius: 4px;
// }

// .email_text {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 20px;
//   /* identical to box height, or 143% */

//   display: flex;
//   align-items: center;
//   letter-spacing: 0.26px;
//   margin-bottom: 10px;
//   margin-top: 10px;
//   color: #282828;
//   font-size: 12px;
// }

// .btn {
//   width: 300px;
//   color: #ffffff;
//   background: #97144d;
//   border-radius: 8px;
//   padding: 10px;
//   text-align: center;
//   margin: auto;
// }

// .forgot_password {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 11px;
//   margin-right: 10px;
//   line-height: 14px;
//   text-align: end;
//   letter-spacing: 1px;
//   text-transform: uppercase;
//   color: #ed1164;
//   margin-top: 15px;
// }

// .open_account {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   /* display: flex; */
//   align-items: center;
//   /* text-align: center; */
//   letter-spacing: 0.26px;
//   color: #282828;
//   text-align: end !important;
//   /* margin-left: 12px; */
//   margin-top: 50px;
//   margin-right: 20px;
// }

// .otp_containner {
//   padding: 15px;
// }

// .verify_account {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 18px;
//   line-height: 24px;
//   letter-spacing: 0.16px;
//   color: #282828;
// }

// .sub_verify_account {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   letter-spacing: 0.26px;
//   color: #575757;
// }

// .cards_goal {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: #f9f9f9;
//   border-radius: 8px;
//   padding: 12px;
//   margin-bottom: 30px;
//   margin-top: 30px;
// }

// .cards_goal_text {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 18px;
//   /* or 150% */

//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.32px;

//   /* Light/Typography/Primary ($sz-colour-typo-primary) */

//   color: #282828;
// }

// .add_goal {
//   display: flex;
//   margin-bottom: 25px;
//   justify-content: center;
//   align-items: center;
//   padding: 12px 16px 12px 12px;
//   color: #ffffff;
//   width: 100px;
//   font-size: 12px;
//   /* Light/Action/Secondary ($sz-colour-action-secondary)

// The secondary color shall be used only for secondary clickable actions in UI such as text buttons, radio, toggle and components color.
// */
//   background: #ed1164;

//   box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
//   border-radius: 28px;
// }

// .goal_sub_header {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 18px;
//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.32px;
//   color: #9d9d9d;
//   margin-top: 20px;
// }

// .goal-card-preferences__wrapper {
//   background-color: rgba(45, 45, 45, 0.56);
//   height: 100%;
//   left: 50%;
//   position: fixed;
//   top: 0;
//   transform: translateX(-50%);
// }

// .subscription_plan_popup_card {
//   background-color: #ffffff;
//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
//   border-bottom-right-radius: 0rem;
//   border-bottom-left-radius: 0rem;
//   font-size: 1rem;
//   position: fixed;
//   overflow: auto;
//   bottom: 0;
//   height: 85%;
//   padding: 15px;
// }

// .goal_header_icon {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 28px;
//   letter-spacing: 0.16px;
//   color: #282828;
// }

// .goal_sub_header_icon {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 18px;
//   letter-spacing: 0.32px;
//   color: #9d9d9d;
// }

// .add_image_goal {
//   margin-top: 10px;
//   margin-bottom: 15px;
//   border: 1px dashed rgb(184, 221, 219);
//   border-radius: 8px;
//   padding: 29px;
//   /* display: flex; */
//   text-align: center;
// }
// .add_image_goal_text {
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 20px;
//   /* or 143% */

//   display: flex;
//   align-items: center;
//   text-align: center;
//   letter-spacing: 0.26px;

//   color: #6e6e6e;
// }
