// .container {
//      padding: 16px;
// }
.container {
  position: relative;
  text-align: center;
  color: white;
}
.imgText {
  position: absolute;
  bottom: 8px;
  left: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:focus {
  outline: none;
}

.toggle {
  border: 0;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  top: 2%;
  left: 15%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

// toggle ends

.search {
  background: #d3d3d3;
  color: #d3d3d3;
}
.TagsStatus {
  //   color: #6e6e6e;
  color: black;
}
.TagsClick {
  //   color: #6e6e6e;
  //   background: red;
  color: black;
}

.Img {
  position: relative;
  display: flex;
  margin-left: 10px;
  padding: 16px 0;
  //   background: #d3d3d3;

  &Image {
    margin-right: 10px;
  }
}

.Image {
  &Title {
    position: absolute;
    bottom: 73px;
    left: 16px;
    color: white;
  }
  &Status {
    position: absolute;
    bottom: 49px;
    left: 16px;
    color: white;
  }
  &Amount {
    position: absolute;
    bottom: 12px;
    left: 16px;
    color: white;
  }
}

.tabs {
  display: flex;
  justify-content: left;
  gap: 15px;
  margin-top: 20px;
  //   margin-left: 40px;
  //   margin-left: -85px;

  &Active {
    //   background: #ed1164;
    background: #1ab65c;
    padding: 4px 12px 6px;
    border: 1px solid #1ab65c;
    border-radius: 17px;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.24px;
  }
  &Deactive {
    background: #ffffff;
    padding: 4px 12px 6px;
    border: 1px solid #1ab65c;
    border-radius: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.24px;
    color: #1ab65c;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  //   margin-top: 10px;
}
.footerTabs {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.active_tab {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.24px;
  color: #1ab65c;
  //   background: #ed1164;
  width: 45% !important;
  padding: 6px;
}

.deactive_tab {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  text-align: center;

  letter-spacing: 0.24px;
  //   color: #9d9d9d;
  //   background: #1ab65c;

  width: 45% !important;
  padding: 6px;
}
.activities_tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.activities_active_tabs {
  background: #ed1164;
  padding: 4px 12px 6px;
  border: 1px solid #f14687;
  border-radius: 17px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
}

.activities_deactive_tabs {
  background: #ffffff;
  padding: 4px 12px 6px;
  border: 1px solid #e2e2e2;
  border-radius: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.24px;
  color: #404040;
}

.bookmark {
  border-radius: 11px;
  background: #ffffff;
  width: 50%;
  height: 260px;
  padding: 10px;
  margin-bottom: 10px;
}
// pagination
.carouselPagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.paginationDot {
  height: 10px;
  width: 10px;
  background-color: #1ab65c;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.paginationDot:hover {
  transform: scale(2.2);
}

.paginationDotActive {
  //   height: 10px;
  //   width: 10px;
  //   background-color: white;
  //   border-radius: 50%;
  //   display: inline-block;
  //   margin-left: 10px;
  //   cursor: pointer;
  background-color: red;
}
//onboard

.dot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;

  //   position: absolute;
  //   bottom: 145px;
  //   left: 32%;
  //   transform: translate(-50%, 0);
  //   display: flex;
  //   gap: 5px;
  //   margin-left: 5px;

  &Active {
    //   background: #ed1164;
    background: white;
    // padding: 4px 12px 6px;
    // border: 1px solid #1ab65c;
    // border-radius: 17px;
    // color: #ffffff;
    // font-weight: 400;
    // font-size: 14px;
    // line-height: 20px;
    // letter-spacing: 0.24px;
  }
  &Deactive {
    background: #ffffff;
    padding: 4px 12px 6px;
    border: 1px solid #1ab65c;
    border-radius: 17px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.24px;
    color: #1ab65c;
  }
}
.OnBoardBtn {
  position: absolute;
  width: 80%;
  height: 53px;
  background: #1ab65c;
  color: #e0ffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 26.5px;

  &Deactive {
    background: #d3d3d3;
  }
}

.btnActive {
  background: #ed1164;
  color: "#ed1164";
}
